.react-search-box-dropdown {
    position: absolute;
    margin-top: 40px!important;
    z-index: 225;
    width: 257px;
}

.bjMFWr > ul > li {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto!important;
}

.bncmtB > ul > li {
  height: auto !important;
}
.dAZYal {
    width: 179%!important;
}

@media (max-width:961px)  { 

.react-search-box-dropdown {
    position: absolute;
    margin-top: 51px!important;
    z-index: 45;
    width: 360px!important;
}

.bjMFWr > ul > li {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto!important;
}


.iiTrXQ {
    font-size: 14px;
    padding: 10px 20px;
    height: 40px;
    border: 1px solid rgba(202, 202, 202, 0.59);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 165%!important;
}

.bjMFWr > ul > li {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(202, 202, 202, 0.59);
    height: 40px;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: auto!important;
}
/* tablet, landscape iPad, lo-res laptops ands desktops */ }

