.react-search-box-dropdown {
    position: absolute;
    margin-top: 40px!important;
    z-index: 225;
    width: 257px;
}


.bncmtB > ul > li {
  height: auto !important;
}
.dAZYal {
    width: 179%!important;
}

@media (max-width:961px)  { 

.react-search-box-dropdown {
    position: absolute;
    margin-top: 51px!important;
    z-index: 45;
    width: 360px!important;
}


/* tablet, landscape iPad, lo-res laptops ands desktops */ }