.custom-fileUploader{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.css-42igfv {
    margin: auto !important;
}

.rc-anchor-normal {
    height: 78px;
    width: 300px;
margin: auto !important;
}